body {
  margin: 0 auto;
  font-family: sans-serif;
}

nav {
  position: absolute;
  background: #343232;
  width: 100%;
  top: 0px;
  height: 65px;
  font-family: sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
}

nav a {
  color: #FFF1F1;
  margin: 10px 15px;
  text-decoration: none;
}

.image-block .image-block-variative {
  position: relative;
  top: 65px;
  width: 100%;
}

.image-block img {
  position: absolute;
  top: 65px;
  width: 100%;
}

.image-block p {
  position: absolute;
  left: 50px;
  top: 190px;
  color: #681717;
  font-size: 60px;
  text-shadow: 0 0 5px #fff;
}

.anniu-container {
  position: absolute;
  bottom: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tian {
  background: rgba(36, 36, 36, 0.5);
  height: 130px;
  text-align: center;
  font-size: 40px;
  background: #343232;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.tian:hover {
  background: #681717;
  box-shadow: 0 15px 20px rgba(104, 23, 23, .4);
  color: #FFF1F1;
  transform: translateY(-7px);
}

.tian a {
  text-decoration: none;
  margin: 0 30px;
  line-height: 120px;
  font-family: sans-serif;
  color: #FFF1F1;
}

.image-block-variative img {
  opacity: 0.6;
  position: absolute;
  width: 100%;
  top: 65px;
}

.title {
  background: rgba(36, 36, 36, 0.5);
  left: 15%;
  top: 15%;
  font-size: 35px;
  height: 90px;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
}

.title p {
  margin: 10px 50px;
  color: #681717;
}

.com-class, form, .ui-widget {
  margin-top: 27%;
  font-size: 30px;
  margin-left: 5%;
}

p {
  font-size: 26px;
  margin-left: 5%;
}

.com-tab {
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
  font-family: sans-serif;
  color: #343232;
  border: 2px solid grey;
}

.com-tab th, td {
  text-align: center;
  padding: 5px;
  border: 2px solid grey;
}

.form-control {
  font-size: 25px;
}

.btn-submit {
  border: 0px;
  width: 400px;
  height: 60px;
  line-height: 50px;
  margin: 0px 20px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  color: #FFF1F1;
  background: #343232;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.btn-submit:hover {
  background: #681717;
  box-shadow: 0 15px 20px rgba(104, 23, 23, .4);
  color: #FFF1F1;
  transform: translateY(-7px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #681717;
}

input:focus + .slider {
  box-shadow: 0 0 1px #681717;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.email-check {
  margin-top: 28%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.email-check p {
  font-size: 26px;
  max-width: 45%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
  margin-top: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
}

.is-open > .modal-dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal-alert {
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal-close-button {
  position: absolute;
  top: 38px;
  right: 27px;
  background: #fff;
  border: none;
  cursor: pointer;
}

.com-tab button{
    background: #fff;
    border: none;
}