body {
  margin: 0 auto;
  font-family: sans-serif;
}

nav {
  position: absolute;
  background: #343232;
  width: 100%;
  top: 0px;
  height: 65px;
  font-family: sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
}

nav a {
  color: #FFF1F1;
  margin: 10px 15px;
  text-decoration: none;
}

.image-block .image-block-variative {
  position: relative;
  top: 65px;
  width: 100%;
}

.image-block img {
  position: absolute;
  top: 65px;
  width: 100%;
}

.image-block p {
  position: absolute;
  left: 70px;
  top: 150px;
  color: #681717;
  font-size: 60px;
  text-shadow: 0 0 5px #fff;
}

.anniu-container {
  position: absolute;
  bottom: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tian {
  background: rgba(36, 36, 36, 0.5);
  height: 130px;
  text-align: center;
  font-size: 40px;
  background: #343232;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.tian:hover {
  background: #681717;
  box-shadow: 0 15px 20px rgba(104, 23, 23, .4);
  color: #FFF1F1;
  transform: translateY(-7px);
}

.tian a {
  text-decoration: none;
  margin: 0 30px;
  line-height: 120px;
  font-family: sans-serif;
  color: #FFF1F1;
}

.image-block-variative img {
  opacity: 0.6;
  position: absolute;
  width: 100%;
  top: 65px;
}

.title {
  background: rgba(36, 36, 36, 0.5);
  left: 15%;
  top: 15%;
  font-size: 35px;
  height: 90px;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
}

.title p {
  margin: 10px 50px;
  color: #681717;
}

.com-class, form, .ui-widget {
  margin-top: 27%;
  font-size: 38px;
  margin-left: 5%;
}

p {
  font-size: 38px;
  margin-left: 5%;
}

.com-tab {
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
  font-family: sans-serif;
  color: #343232;
  border: 2px solid grey;
}

.com-tab th, td {
  text-align: center;
  padding: 5px;
  border: 2px solid grey;
}

.form-control {
  font-size: 25px;
}

.btn-submit {
  border: 0px;
  width: 400px;
  height: 60px;
  line-height: 50px;
  margin: 0px 20px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  color: #FFF1F1;
  background: #343232;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.btn-submit:hover {
  background: #681717;
  box-shadow: 0 15px 20px rgba(104, 23, 23, .4);
  color: #FFF1F1;
  transform: translateY(-7px);
}