{% extends "base.html" %}
{% block content %}

{% if current_user.is_authenticated %}
    <nav>
        <a href="/"><img src="/static/img/logo.svg"></a>
        <a href="profile">Профиль</a>
    </nav>
{% else %}
    <nav>
        <a href="/"><img src="/static/img/logo.svg"></a>
        <a href="/register">Зарегистрироваться</a>
        <a href="/login">Войти</a>
    </nav>
{% endif %}

<div class="image-block-variative">
    <img src="/static/img/msu_var.jpg">
    <div class="title">
        <p>Перечень олимпиад школьников</p>
    </div>
</div>
{% for orientation in orientations %}
    {% if loop.index == 1 %}
        <p class="com-class">{{orientation.orientation}} науки</p>
    {% elif loop.index == 4 %}
        <p>{{orientation.orientation}}</p>
    {% else %}
        <p>{{orientation.orientation}} науки</p>
    {% endif %}
    <table class="com-tab">
        <tr>
            <th>Наименование олимпиады</th>
            <th>Профиль</th>
            <th>Образовательные предметы или специальности, соответствующие профилю</th>
            <th>Уровень олимпиады</th>
        </tr>
        {% for competition in competitions[orientation.id].keys() %}
            <tr>
                {% if competitions[orientation.id][competition]|length >1 %}
                <td rowspan={{competitions[orientation.id][competition]|length}}>
                    <button class="com-tab button" onclick="addFavorite()">{{competition}}></button>
                </td>
                {% else %}
                    <td><button class="com-tab button" onclick="addFavorite()">{{competition}}></button></td>
                {% endif %}
                {% for i in competitions[orientation.id][competition] %}
                    {% if loop.index == 1 %}
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
            </tr>
                    {% else %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </table>
{% endfor %}
<div class="modal">
    <div class="modal-dialog">
        <button class="modal-close-button">
          <svg
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 2L26 26" stroke="#681717" stroke-width="3" />
            <path d="M26 2L2 26" stroke="#681717" stroke-width="3" />
          </svg>
        </button>
        <form action="" method="post" name="add-fav">
            {{ form.hidden_tag() }}
            <h3>Добавление олимпиады в закладки</h3>
            <p>
                {{ form.competition.label }}<br>
                {{ form.competition(class="form-control", type="competition", value="") }}<br>
                {% for error in form.competition.errors %}
                    <div>
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.profile.label }}<br>
                {{ form.profile(class="form-control", type="profile") }}<br>
                {% for error in form.profile.errors %}
                    <div>
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p><input type="checkbox">{{ form.send_alerts_to_me.label }}</p>
            <p>{{ form.submit(type="submit", class="btn-submit") }}</p>
            <div>{{ message }}</div>
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='js/addFavorite.js')}}"></script>
{% endblock %}