{% extends "base.html" %}
{% block content %}

{% if current_user.is_authenticated %}
    <nav>
        <a href="/"><img src="/static/img/logo.svg"></a>
        <a href="profile">Профиль</a>
    </nav>
{% else %}
    <nav>
        <a href="/"><img src="/static/img/logo.svg"></a>
        <a href="/register">Зарегистрироваться</a>
        <a href="/login">Войти</a>
    </nav>
{% endif %}
<div class="image-block">
    <img src="/static/img/msu.jpg">
    <p>Успех не вечен, <br> удачи - не фатальны</p>
</div>

<div class="anniu-container">
    <div class="tian">
            <a href="/competitions">Перечень олимпиад школьников</a>
    </div>
    <div class="tian">
        <a href="/search">Поиск ВУЗа по олимпиаде</a>
    </div>
</div>
{% endblock %}