{% extends "base.html" %}
{% block content %}

{% if current_user.is_authenticated %}
    <nav>
        <a href="/"><img src="/static/img/logo.svg"></a>
        <a href="profile">Профиль</a>
    </nav>
{% else %}
    <nav>
        <a href="/"><img src="/static/img/logo.svg"></a>
        <a href="/register">Зарегистрироваться</a>
        <a href="/login">Войти</a>
    </nav>
{% endif %}

<div class="image-block-variative">
    <img src="/static/img/msu_var.jpg">
    <div class="title">
        <p>Поиск ВУЗа по олимпиаде</p>
    </div>
</div>

<form action="/search" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.competition.label }}<br>
        {{ form.competition(class="form-control", id="autocomplete", type="") }}<br>
        {% for error in form.competition.errors %}
            <div>
                {{ error }}
            </div>
        {% endfor %}
    </p>
    {% if not is_profile_hidden %}
    <p class="search-form__profile" >
        {{ form.profile.label }}<br>
        {{ form.profile(class="form-control", type="") }}<br>
        {% for error in form.profile.errors %}
            <div class="search-form__profile__error-wrapper">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn-submit") }}</p>
    <div>{{ message }}</div>
</form>

{% if not is_table_hidden %}
<table class="com-tab">
    <tr>
        <th>ВУЗ</th>
        <th>Образовательная программа</th>
        <th>Один или несколько предметов, по которым поступающим необходимы результаты ЕГЭ для подтверждения особого права</th>
        <th>Количество баллов ЕГЭ, которое подтверждает особое право</th>
        <th>Вид особого права</th>
        <th>Кому предоставляется особое право</th>
        <th>В каких классах должны быть получены результаты олимпиады</th>
    </tr>
    {% for university in c.keys() %}
        <tr>
            {% if c[university][1] >1 %}
                <td rowspan={{c[university][1]}}>{{ university }}</td>
            {% else %}
                <td>{{ university }}</td>
            {% endif %}
            {% for speciality in c[university][0].keys() %}
                {% if c[university][0][speciality]|length >1 %}
                    <td rowspan={{(c[university][0][speciality])|length}}>{{ speciality }}</td>
                {% else %}
                    <td>{{ speciality }}</td>
                {% endif %}
                {% for i in c[university][0][speciality] %}
                    {% if loop.index == 1 %}
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
        </tr>
                    {% else %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[4] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
    {% endfor %}
</table>
{% endif %}

<script>
    var contestNames = {{ contest_names|safe }};
    <!--    var profiles = {{ profiles|safe }};-->
    <!--    var profiles_list = [];-->
</script>
<script src="{{url_for('static', filename='js/search.js')}}"></script>
{% endblock %}